<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <appSettings>
        <!-- This is a comma seperated list of teams you wish to follow -->
        <add key="CricketIntegration.FollowingTeams" value="Australia"/>
        <add key="CricketIntegration.ExternalServices.Slack.WebhookUrl" value="Enter Webhook URL Here" />
    </appSettings>
</configuration>
