<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
        <!-- This is a comma seperated list of teams you wish to follow -->
        <add key="CricketIntegration.FollowingTeams" value="Australia" />
        <add key="CricketIntegration.ExternalServices.Slack.WebhookUrl" value="Enter Webhook URL Here" />
        <add key="CricketIntegration.ExternalServices.Simulate" value="True" />

        <add key="serilog:write-to:ColoredConsole" />
        <add key="serilog:write-to:Trace" />
        <add key="serilog:using" value="Serilog.Sinks.Logentries" />
        <add key="serilog:write-to:Logentries.token" value="TOKEN" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
